sudo: required
dist: trusty
before_install:
- sudo apt-get -qq update && sudo apt-get install librsvg2-bin pdftk
script:
- mkdir _build
- ./build.sh dsw_rollfold.pdf
deploy:
  provider: releases
  api_key: $GH_TOKEN
  file:
  - _build/dsw_rollfold.pdf
  - _build/parts/dsw_rollfold_side1.pdf
  - _build/parts/dsw_rollfold_side2.pdf
  skip_cleanup: true
  on:
    tags: true
